@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*Estilos de la seccion hero*/
.hero-contacto{
    margin-top: 100px;
    width: auto;
    --opacidad-negro: 0.3;
    background-image: url("https://img.genial.ly/633e13df79a7b60011c72d26/028fabed-6157-49b8-a968-b73f22172dea.png");
    background-size:cover;
    background-position: center;
    text-align: center;
    color: 
    rgb(39,39,40);
    padding: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    
   }


   .hero-content-contacto{

    display: flex;
    flex-direction: column;
    align-items: center;
   
   }
   .hero-content-contacto img{
    height: 100px;
   }

   .hero-content-contacto p{
    width: 50%;
    padding-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size:large;
   }

   .hero-contacto h2{
    color: #873e23;
    font-size: 4rem;
    margin-bottom: 20px;
    margin-top: 20px;
    text-shadow: 0 10px 10px rgba(0,0,0,0.1);
   }


.sandwiches {
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0 0 0 / .8),rgba(0 0 0 / .8)),url(https://wallpapers.com/images/featured/fondos-de-cafeteria-02x9a49rdcr5c18i.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.container {
    margin: 100px;
    display:grid;
    grid-template-columns: repeat(2,50%);
    padding:20px;
    gap:10px;
    width: 1000px;
}

.box-info {
    color:#fff;
    display:flex;
    flex-direction: column;
    gap:50px;
}

.box-info > h1 {
    text-align: left;
    letter-spacing: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    gap:25px
}

.data > p {
    font-size: 1rem;
}

.data > p > i {
    color:crimson;
    margin-right: 10px;
    font-size:25px;
}



.links {
    display:flex;
    gap:15px;
}

.links > a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: crimson;
    text-align: center;
    transition: .1s;
}

.links > a > i {
    color:#fff;
    line-height: 40px;
    font-size: 20px;
}

form {
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
}

.input-box {
    position:relative;
}

.input-box > input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    transition:.3s;
    color:#fff;
    
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
    color:#a3a3a3;
    
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
    color:transparent;
}

.input-box > input:focus,
.input-box > textarea:focus {
    border-bottom:3px solid crimson;
    animation: shake .2s;
}

.input-box > textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition:.3s;
    color:#fff;
    letter-spacing: 1.5px;
}


.input-box > i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color:rgba(255 255 255 / .3);
    transition: .3s;
}

.input-box > input:focus ~ i {
    color:crimson;
}

form > button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: crimson;
    color:#fff;
    border:none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
}

form > button:hover,
.links > a:hover {
    background: rgb(172, 16, 47);
}

@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
 }


@media screen and (max-width:600px) {
    .container {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .box-info {
        gap:15px;
    }

    .box-info > h1 {
        font-size: 1.5rem;
    }
}




/*************************************Seccion FAQ************/
.faq-section {
    max-width: 75%;
    margin: auto;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  
  .faq-section > p,
  .faq-section > h1 {
    margin: 1.5rem 0;
    text-align: center;
  }
  
  .faq-section > h1 {
    letter-spacing: 3px;
  }
  
  .accordion {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  .accordion i {
    font-size: 1.6rem;
  }
  
  .active,
  .accordion:hover {
    background-color: #f1f7f5;
  }
  .pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
  }
  .pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
  }
  .faq.active {
    border: none;
  }
  