
.nosotros{
  display: flex;
  justify-content: center;
}
.col-container {
  font-family: "Heebo", sans-serif;
   width: 90vw;
   margin-top: 4%;
   display: flex;
   margin: 30px;
  }
  
.about-us{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-size: 50px;
  color: #fea116;
  background-color: transparent;
}

.welcome{
  font-weight: 700;
  font-style: bold;
  font-size: 50px;
  color: #000000;
  text-align: center;
}
.message{
  padding: 2%;
 font-size: 22px;
 font-family:'Times New Roman', Times, serif;
}

.left-part{
  margin-left: 3%;
  width: 50%;
}
.right-part{
  justify-content: right;
  width: 50%;
  margin-top: 1rem;
  margin-left: 15rem;
  display:flex;
  align-items: center;
}

.right-part-data{
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.img-utensil{
  height:30pxpx;
  width: 35px;
}
.experience{
  display: flex;
  font-size: 40px;
  
}

.master-chef{
  display: flex;
  font-size: 40px;
}
.text-part{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.text1{
  color: gray;
}
.num{
  text-align: center;
  width: 180px;
  margin-right: 100px;
  color: #fea116;
  font-weight: bold;
  font-size: 70px;
  transition: 0.6s ease-in-out;
  
}

.num:hover{
  color: white;
  transform: scale(1.2);
}

.origenes{
  height: 40vh;
  width: 90vw;
}

.origenes img{
  height: 100%;
  text-align: center;
  width: 99vw;
  object-fit: cover;
}





/* Aplicamos los estilos de team-container a la sección equipo */
.equipo {
  background-color: antiquewhite;
  padding: 20px;
  text-align: center;
}

.heading-part {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-size: 50px;
  color: #fea116;
  text-align: center;
}

.equipo-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.miembro {
  height: 300px;
  width: 250px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.miembro h3{
  margin-top: 20px;
  font-size: x-large;
}

.miembro p{
  font-style: italic;
  margin-top: 5px;
}

.chef-img {
  height: 250px;
  border-radius: 50%;
  transition:  0.5s ease;
}

.miembro:hover .chef-img {
  height: 200px;
  width: 200px;
}

.miembro img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
}

