*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #cab6a6;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color:#4d5953;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 60px;
    margin-right: 10px;
}

.logo h1{
    font-size: 2rem;
}

.nav-links{
    /*Quitar viñetas*/
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    

   }
   .nav-links li{
    margin-left: 25px; 
    border: 1px solid #a8ae96 ;
    border-radius:20%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 23px;
    padding-right: 23px;

   }
   .nav-links a{
    text-decoration: none;
    color: #a8ae96;

   }

   /*Estilos de la seccion hero*/
   .hero{
    background-image: url("https://tse3.mm.bing.net/th?id=OIG3.ItVxvb7XIHKdPI8OZl4j&pid=ImgGn");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
   }


   .hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
   
   }

   .hero-content p{
    padding-bottom: 20px;
     font-style: italic;
   }
   .hero-content button{
    background-color: #873e23;
    padding: 10px;
    border: 2px solid #873e23;
    border-radius: 15%;
    color: cornsilk;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;

   }

   .hero h2{
    font-size: 3rem;
    margin-bottom: 20px;
   }

   /*Seccion de productos*/
   .featured-products, .postres, .equipo{
    padding: 50px;
    text-align: center;
   }

   .product-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   }
   .product{
    width: 300px;
    margin-bottom: 30px;
   }
   .product img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
   }

   .grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 30px; /*Espaciado*/
   }

   .postre img{
    width: 100%;
    height: 200px;
    object-fit: cover;
   }

   .equipo{
    background-color: antiquewhite;
   }

   .equipo-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   }

   .miembro{
    width: 200px;
    margin-bottom: 35px;
   }

   .miembro img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
   }



   /*Estilos de pie de pagina*/
   footer{
    background-color: rgb(129, 113, 86);
    color: antiquewhite;
    text-align: center;
    padding: 10px 0;
    background-position: end;
   }